pkgbase = eim-bin
	pkgver = 0.17.4
	pkgrel = 1
	url = https://github.com/espressif/idf-im-ui
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Apache-2.0
	makedepends = unzip
	depends = bison
	depends = ccache
	depends = cmake
	depends = dfu-util
	depends = flex
	depends = git
	depends = gperf
	depends = libffi
	depends = libusb
	depends = openssl
	depends = python
	depends = python-pip
	depends = wget
	noextract = cli-0.17.4-x64.zip
	noextract = gui-0.17.4-x64.zip
	noextract = cli-0.17.4-arm64.zip
	noextract = gui-0.17.4-arm64.zip
	noextract = cli-0.17.4-armv7.zip
	options = !strip
	source = eim-gui.desktop
	sha256sums = eb574ade90f636523bb00078df0b92dfd8e289c31f136af257953e689ac84d69
	source_x86_64 = cli-0.17.4-x64.zip::https://github.com/espressif/idf-im-ui/releases/download/v0.17.4/eim-cli-linux-x64.zip
	source_x86_64 = gui-0.17.4-x64.zip::https://github.com/espressif/idf-im-ui/releases/download/v0.17.4/eim-gui-linux-x64.zip
	source_x86_64 = icon.png::https://raw.githubusercontent.com/espressif/idf-im-ui/master/src-tauri/icons/icon.png
	sha256sums_x86_64 = a56e721ceb7bb459488605d522fb5960e693ae2096c119c290b01a4a990f805e
	sha256sums_x86_64 = b7bc824a697825f574420649c28d42cca55e6140b86d2a036c7f53299d932b7b
	sha256sums_x86_64 = 780e992f87e6622361a1cb54681d4d215d8b2c0232e96f55aaa682b0ee51bc41
	source_aarch64 = cli-0.17.4-arm64.zip::https://github.com/espressif/idf-im-ui/releases/download/v0.17.4/eim-cli-linux-aarch64.zip
	source_aarch64 = gui-0.17.4-arm64.zip::https://github.com/espressif/idf-im-ui/releases/download/v0.17.4/eim-gui-linux-aarch64.zip
	source_aarch64 = icon.png::https://raw.githubusercontent.com/espressif/idf-im-ui/master/src-tauri/icons/icon.png
	sha256sums_aarch64 = 97502e4db7a5eee0e7f8605375019f83df564cb7b2f0196cabcea2900fdcb04b
	sha256sums_aarch64 = 2863c613cf9fa183bd3d40deb7391a47461b07caf6489c332df5aa62dd60795d
	sha256sums_aarch64 = 780e992f87e6622361a1cb54681d4d215d8b2c0232e96f55aaa682b0ee51bc41
	source_armv7h = cli-0.17.4-armv7.zip::https://github.com/espressif/idf-im-ui/releases/download/v0.17.4/eim-cli-linux-armv7.zip
	sha256sums_armv7h = 8a0f2b039d3e865169bb9b5724d578ca36d82b6f28ca9e27c861c023a55c307d

pkgname = eim-cli
	pkgdesc = ESP-IDF installation manager (CLI)
	provides = eim
	conflicts = eim

pkgname = eim-gui
	pkgdesc = ESP-IDF installation manager (GUI)
	arch = x86_64
	arch = aarch64
	depends = bison
	depends = ccache
	depends = cmake
	depends = dfu-util
	depends = flex
	depends = git
	depends = gperf
	depends = libffi
	depends = libusb
	depends = openssl
	depends = python
	depends = python-pip
	depends = wget
	depends = webkit2gtk-4.1
	provides = eim-gui
	conflicts = eim-gui
